.center {
    text-align: center;
}

.blue {
    color: blue;
}

.crimson {
    color: crimson;
}

.left {
    margin-left: 40px;
}

.red {
    color: red;
}

.right {
    text-align: right
}