.imageheader {
    text-align: center;
}

.texttypecenter {
    text-align: center;
}

.abzac {
    margin-left: 20px;
}

.redheader {
    color: red;
}

.sectioninfo {
    color: blue;
}

.sectionname {
    color: green;
}

.nonsectiontext {
    color: brown;
}